* {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.profile {
  width: 350px;
  height: auto;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

.description {
  padding-top: 20px;
}

.description p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.profilePhoto {
  border-radius: 75%;
  background-color: black;
}

.userName {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.tagName {
  font-size: 18px;
  color: gray;
  margin-top: -15px;
}

.location {
  font-size: 18px;
  color: gray;
  margin-top: -15px;
}

.stats {
  width: 100%;
  font-size: 18px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  border-top: 1px solid #7a7575;
}

.stats li {
  flex: 1;
  text-align: center;
  padding: 20px 0;
}

.stats li:not(:first-child) {
  border-left: 1px solid #7a7575;
}
